build/
*.o
Doxyfile
docs/
*.DS_Store
*.ps
outputs/
Aoutputs/
*.log
plots/
archive/
inputs/



# Xcode
*.xcworkspace
*.xcuserdata
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata
*.xcodeproj/project.pbxproj

# Swap files
*.swp
